.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 101;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  /* Отображать flex елементы вертикально */

}

.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
}

/* черех пробел мы можем укахать тип эллементов, к которым применяем свойства */
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;

}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}

